<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4 
      style="color:rgb(120,120,120); margin-bottom:4px;">
      {{user['user']}}
    </h4>
    <div>
      <b>USERNAME:</b> {{user['user']}}

    </div>
    <div>
      <b>EMAIL:</b> {{user['email']}}
    </div>
    <div>
      <b>PASSWORD:</b> {{user['password']}}
    </div>  
      
  </div>
  <div class="col-2 padding-right:16px">
    <a href="" type="button" class="btn btn-outline-primary float-right align-middle" >SIGN UP</a>
  </div>
  
</div>